<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_luckin_coffee">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 读取文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
